<p><%= @user.first_name %>,</p>

<p>чтобы поменять свой пароль, пройдите по ссылке:</p>
<p><%= edit_password_url(@user.password_recovery_token) %></p>

<p>Ссылка действительна в течение ближайших 24-х часов.</p>