html, body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
}

body > .container {
  @include outer-container;
}

body > header {
  text-align: right;
  padding: 1em;
  margin: 0 0 1.4em 0;

  ul.navigation {
    list-style: none;
    padding: 0;
    margin: auto 2.25em;
    overflow: hidden;


    > li {
      @include inline-block;
      margin: 1.25em 0 0.15em 2.75em;
      font-size: 0.875em;

      &.logo {
        float: left;
        margin-top: 0 !important;
      }

      &.login {
        > a{
          @include secondary_button;
        }
      }

      > a {
        text-decoration: none;
        color: #222;

        &:hover {
          // color: red;
          // @include transition(all 0.2s ease-in-out);
        }
      }
    }
  }

}