$mobile: new-breakpoint(max-width 500px 6);

html, body {
  -webkit-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  background-color: #95c7a4;
}

// body {
//   background-repeat: no-repeat;
//   background-position: 50% 50%;
//   background-size: cover;
//   background-image: image-url("blue-bg.jpg");
// }

body > .container {
  @include outer-container;
  position: relative;
}

body > header {
  text-align: center;
  padding: 1em;
  margin: 0 0 1.4em 0;

  // HEADER NAVIGATION
  ul.navigation {
    list-style: none;
    padding: 0;
    margin: auto 2.25em;
    overflow: hidden;

    > li {
      @include inline-block;
      margin: 1.25em 0 0.15em 2.75em;
      font-size: em(15);
      font-weight: bold;
      color: #888;

      &.logo {
        margin-top: em(128) !important;
      }

      &.login {
        > a{
          @include login-button;
        }
      }

      > a {
        text-decoration: none;
        color: #222;

        &:hover {
          // color: red;
          // @include transition(all 0.2s ease-in-out);
        }
      }
    }
  }
}
